 <!doctype html>
<html ng-app = "TaskTracker" >
  <head>
   
  </head>
  <body>
  <button class="add-btn" ng-click="addTask()">Add Task
    <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
  </button>
  <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
          <md-icon md-svg-src="img/icons/android.svg" style="color: greenyellow;"></md-icon>
        </md-button>
   <form>
   <input type="button" value = "+" onClick = ng-bind ="addTask"/>
  </form>
   <div ng-controller="addTask">
 <div>
  Task: <input type="text" ng-model="addTask" />{{addTask}}
 </div>

  </body>
</html>

 
}